.login-container {
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.5rem 0;
  min-height: 75vh;
}
.login-container .card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.login-container .card-header .title {
  color: white;
}
.login-container .card-footer {
  text-align: right;
}
.login-container .card-footer .link > a {
  color: #fff;
}
.login-container .card-footer .link > a:hover {
  color: #cdcdcd;
}
.login-container .input-group-prepend span {
  width: 50px;
  justify-content: center;
  background-color: #890403;
  color: #fff;
  border: 0 !important;
}
.login-container input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login-container .social_icon .icon span {
  font-size: 48px;
  margin-left: 10px;
  color: #FFC312;
}
.login-container .social_icon .icon span:hover {
  color: white;
  cursor: pointer;
}
.login-container .social_icon {
  position: absolute;
  right: 20px;
  top: -35px;
}