.home-searchbox {
  background-color: #fff;
  margin-top: 30px;
  padding: 25px;
  z-index: 10;
  width: 50vw;
  border-top: 5px solid #9c0d0b;
}
.home-searchbox .form-home-searchbox .form-group label{
  font-size: 14px;
  margin-bottom: 3px;
}
.home-searchbox .form-home-searchbox .col-submit {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
.home-searchbox .search-type-row {
  display: flex;
  flex-direction: row;
}
.home-searchbox .search-type-row .radio-search-type:not(:last-child) {
  margin-right: 5px;
}