.card-apply-button {
  margin-bottom: 25px;
}
.card-apply-button .btn-apply {
  margin-bottom: 10px;
}
.card-apply-button .alert-day {
  font-size: 12px;
  padding-top: 7px;
  padding-bottom:7px;
  margin-bottom: 0;
}