.search-box-panel {
  margin-bottom: 40px;
}

/* Filter sidebar */
.filter-sidebar {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: #fff;
}
.filter-sidebar .form-check {
  margin-bottom: 15px;
}

/* Filter option */
.filter-option {
  padding: 30px 0;
}
.filter-option > .card {
  border: 0;
  margin-bottom: 20px;
}
.filter-option > .card > .card-header {
  background: #fff;
  padding: 0 15px;
  border-bottom: 0;
}
.filter-option > .card > .card-header button {
  font-size: 20px;
  text-decoration: none;
  color: #272f46;
}

/* Filter keyword */
.option-keyword .action{
  display: flex;
  flex-direction: row;
}
.option-keyword .action .btn-search {
  flex: 3;
  margin-right: 3px;
}
.option-keyword .action .btn-reset {
  flex: 1;
}

/* Filter Category */
.option-category .body .list{
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.option-category ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.option-category ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Filter Salary */
.option-salary {
  padding-left: 10px;
  padding-right: 10px;
}
.option-salary .display-value {
  margin-bottom: 10px;
}
.option-salary .display-value.max {
  text-align: right;
}