body {
  font-family: PSU-Stidti;
  font-size: 14px;
}

#container {
  padding: 30px 0;
}

/* Panel description */
.panel-desc .image {
  height: 350px;  
  margin-bottom: 30px;
}
.panel-desc .title{
  font-size: 32px;
  font-weight: bold;
  color: #222;
  margin-bottom: 15px;
}
.panel-desc .sub-title {  
  color: rgb(113, 114, 117);
  font-size: 16px;
  line-height: 1.6em;
}

/* Panel result */
.panel-result {
  text-align: center;  
  margin-top: 10vh;
}
.panel-result .image {
  margin-bottom: 25px;
  height: 100px;
}
.panel-result .title {
  font-size: 28px;
  font-weight: bold;
  color: #222;
  margin-bottom: 15px;
}
.panel-result .desc {
  color: rgb(113, 114, 117);
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 40px;
}

/* Form input */
.form-input .title {
  font-size: 24px;
}
.form-input .line {
  margin: 10px 0 35px 0;  
  background-color: #555;
}

/* Form Registration */
.form-registration .form-group{
  margin-bottom: 30px;
}
.form-registration .invalid-feedback {
  display: none;
}
.form-registration .invalid-feedback.show {
  display: block;
}
*.hide {
  display: none !important;
}

/* Form Verify */
.form-verify {
  display: flex;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
}

form .form-group label {
  font-family: PSU-Stidti-Light;
  margin-bottom: 10px;
}
form .form-group input {
  font-size: 16px;
}