.container-register {
  background-color: #ffffff;
  padding: 4.2rem 3.8rem;
  max-width: 80vw;
  margin: 0 auto;
}
.container-register .col-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-register {
  width: 400px;
}
.box-register .input-inner {
  padding: 30px 0;
}
.box-register .btn {
  margin-bottom: 20px;
}