@import './font.css';

body {
  font-family: PSU-Stidti-Light;
  font-size: 16px;
  background-color: #eaeaea;
  /*background-color: #fdfdfd;*/
}
.box {
  padding: 25px 20px;
  background-color: #fff;
  margin-bottom: 25px;
}
.page {
  max-width: 1280px;
  margin: 0 auto;
}
.two-column {
  display: flex;
  flex-direction: row;
}
.two-column .sidebar{
  flex-grow: 1;
  margin-right: 30px;
}
.two-column .result-content {
  flex-grow: 2;
}
.btn.rounded {  
  border-radius: 25px !important;  
}

.section .title {
  font-size: 1.3em;
  margin-bottom: 20px;
}