.box-jobinfo {
  border: 1px solid #eaeaea;
  padding: 30px 25px;
  border-radius: 5px;
  margin-left: 20px;
}
.box-jobinfo .title {
  font-size: 20px;
  color: #111;
}
.box-jobinfo .list-detail {
  list-style: none;
  padding: 0;
  margin: 0;
}
.box-jobinfo .list-detail > li {
  padding: 15px 0;
  margin-bottom: 5px;
}
.box-jobinfo .list-detail > li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.box-jobinfo .list-detail > li .detail {
  display: flex;
  flex-direction: row;
}
.box-jobinfo .list-detail > li .detail .label {
  display: flex;
  flex: 1;
  font-weight: 600;
  align-items: center;
}
.box-jobinfo .list-detail > li .detail .value {
  flex: 1;
}
.box-jobinfo .apply {
  padding: 20px 0;
  margin-top: 20px;
}
.box-jobinfo .badge-jobtype {
  font-size: 14px;
  padding: 7px 10px;
}