.content .fill {
  min-height: 80vh;
}
.content .content-header,
.content .content-footer {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
.content .content-header .title {
  font-size: 1.3em;
  margin-bottom: 20px;
}
.content > *.padding {
  padding: 15px;
}
.content .content-body.box {
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);  
}