.box {
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.content .content-header,
.content .content-footer {
  display: flex;
  flex-direction: row;
}
.content .content-header.fill,
.content .content-footer.fill {
  padding: 12px 15px;
}
.content .content-header .content-column {
  flex: 1;
  flex-direction: row;
}
.content .content-header .content-column.right {
  text-align: right;
}
.content .content-body.padding {
  padding: 15px;
}