.card-job-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eaeaea;
  box-shadow: #cdcdcd 1px 2px 2px;
}
.card-job-item .title {
  font-family: PSU-Stidti-Bold;
  font-size: 1.15em;    
  border-bottom: 3px solid #aa3a3a;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.card-job-item .btn {
  font-size: 12px;
  padding: 7px 0;
  margin-top: 10px;
}