.section-detail {  
  padding: 1rem 2.5rem;
  background-color: #fff;
}
.section-sub-detail {
  padding: 15px 0;
}
.row-info {
  padding: 25px 0;  
}
.row-info .col-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-info .col-info .name {
  font-size: 2.4em;
  margin-bottom: 5px;
}
.row-info .col-info .address {
  font-size: 1.15em;
}
.row-detail {
  padding: 25px 0;
}

.section-job-related {  
  padding: 40px 0;
}

.job-info {
  background-color: #ddd;
  padding: 20px;
}
.job-info .row {
  margin-bottom: 10px;
}

.job-apply {
  padding: 20px 0;
}
.job-apply .btn.rounded {
  font-size: 14px;
  padding: 12px 0;
}