.nav-status {
  margin-bottom: 20px !important;
}
.nav-status > .nav-item {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  min-width: 120px;
}
.nav-status > .nav-item:not(:last-child) {
  margin-right: 10px;
}
.nav-status > .nav-item > a {
  color: #111;  
  background-color: #fff;
  padding: 12px 15px;
  font-size: 0.95em;
  text-align: center;
}
.nav-status > .nav-item.active > a{
  background-color: #c52423;
  color: #fff;
  text-decoration: none;
}
.nav-status > .nav-item:not(.active):hover > a,
.nav-status > .nav-item:not(.active):focus > a {
  background-color: #eaeaea;
  color: #666;
}

.list-group-jobitem {
  display: flex !important;
  flex-direction: row;
  padding: 25px 20px !important;
}
.list-group-jobitem .detail {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.list-group-jobitem .detail .title {
  font-size: 1.2em;
  margin-top: 7px;
  margin-bottom: 7px;
}
.list-group-jobitem .detail .amount {
  font-size: 0.9em;
  color: #cdcdcd;
}
.list-group-jobitem .action {
  width: 200px;
}
