.list-job-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  padding: 35px 30px;
  margin-bottom: 25px;
}
.list-job-item .image {  
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.list-job-item .image .image-source {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 120px;
  width: 150px;
}
.list-job-item .detail {
  flex: 3;
  padding: 7px 10px;
  margin-left: 15px;
}
.list-job-item .detail .title {  
  font-family: PSU-Stidti-Light;
  font-weight: bolder;
  font-size: 1.25em;  
  color: #111;
  margin: 8px 0 12px;
}
.list-job-item .detail .desc .desc-item .text{
  font-size: 0.9em;
  margin-left: 5px;
}
.list-job-item .link {  
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}