.content-jobform .content-header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.group-range-salary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.group-work-day {
  display: flex;
  flex-direction: row;
}
.group-work-day .form-check-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}