@import './font.css';

body {
  font-family: PSU-Stidti !important;
  font-size: 14px;
  background-color: #fafafa !important;
  color: #545454;
}
.form-control {
  font-size: 14px;
}
.container {
  max-width: 1280px;
}
.input-element {
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  border-radius: .25em;
  min-height: 6em;
  cursor: text
}
form.distance .form-group:not(:last-child) {
  margin-bottom: 40px;
}

.content-tab .content-body {
  padding: 0 !important;
}
.content-tab .nav-tabs .nav-item .nav-link{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  padding: 13px 32px;
}
.content-tab .nav-tabs .nav-item .nav-link.active {
  border-top: 3px solid #c52423;
}
.content-tab .nav-tabs .nav-item:first-child .nav-link {
  border-left: 0;
}
.content-tab .nav-tabs .nav-item .nav-link:not(.active):hover {
  border-top: 3px solid #eaeaea;
  cursor: pointer;
}
.content-tab .tab-content .tab-pane{
  padding: 30px 40px;
}