@import './font.css';

body {
  font-family: PSU-Stidti !important;
  font-size: 14px;
  background-color: #eaeaea;
}
.box {
  padding: 25px 20px;
  background-color: #fff;
  margin-bottom: 25px;
}
.two-column {
  display: flex;
  flex-direction: row;
}
.two-column .sidebar{
  flex-grow: 1;
  margin-right: 30px;
}
.two-column .result-content {
  flex-grow: 2;
}
.btn.rounded {  
  border-radius: 25px !important;  
}