@import './font.css';

body {
  font-family: PSU-Stidti !important;
  font-size: 14px;
  background-color: #f2f3fa !important;
}
.box {
  padding: 25px 20px;
  background-color: #fff;
  margin-bottom: 25px;
}
.two-column {
  display: flex;
  flex-direction: row;
}
.two-column .sidebar{
  flex-grow: 1;
  margin-right: 30px;
}
.two-column .result-content {
  flex-grow: 2;
}
.btn.rounded {  
  border-radius: 25px !important;  
}

form.distance {
  padding: 40px 30px;
}
form.distance .form-group:not(:last-child) {
  margin-bottom: 40px;
}

.input-element {
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  border-radius: .25em;
  min-height: 6em;
  cursor: text
}