.section.section-category {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  margin-top: 2.4rem;
}
.section.section-category .row .col {
  padding-right: 0;
  padding-left: 0;
}
.section-category .section-title-desc {
  margin-bottom: 30px;
}
.category-item .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  color: #545454;
  padding: 25px 25px;
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
}
.category-item .btn:hover {
  background-color: #eee;
}
.category-item .icon {
  height: 80px;
  margin-bottom: 12px;
}
.category-item .name {
  flex: 2;
  font-size: 1.05em;
  margin-bottom: 7px;
}
.category-item .desc {
  flex: 1;
  font-size: 0.9em;
  color: #b3b3b3;
}
.category-item a:hover {
  text-decoration: none;
  color: #890403;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}