.modal-signin .line{
  margin: 30px 0;
}
.modal-signin .block-signin-social {
  display: block;
  flex-direction: column;
}
.modal-signin .block-signin-social .btn:not(:last-child) {
  margin-bottom: 10px;
}