.section {
  padding: 20px 0;
}
.section .section-title {
  font-size: 2.6em;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}
.section .section-title-desc {
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #888;
}