.page-job-detail {
  min-height: 80vh;
}
.page-job-detail .page-inner {
  padding: 50px 45px;
  background-color: #fff;
}
.section-detail .section-content {
  font-size: 16px;
  line-height: 2em;
}
.section-detail .section-heading .section-title {
  font-size: 18px;
}