
.page-job-detail > .page-inner {
  background-color: #fff;
  box-shadow: #cdcdcd 2px 2px 2px;
  border: 1px solid #eee;
  padding: 2.4rem 2.8rem;
}
.page-job-detail .detail {
  padding: 25px 0;
}
.page-job-detail .section-detail .section-heading .section-title {
  font-family: PSU-Stidti-Bold;  
  font-size: 1.2em;    
  color: #232323;
  
}
.page-job-detail .section-detail .section-content {
  padding-top: 12px;
  padding-bottom: 12px;
}

.row-info .col-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-info .col-info .name {
  font-size: 2.4em;
  margin-bottom: 5px;
}
.row-info .col-info .address {
  font-size: 1.15em;
}
.row-detail {
  padding: 25px 0;
}

.section-job-related {  
  padding: 40px 0;
}

.job-info {
  background-color: #ddd;
  padding: 20px;
}
.job-info .row {
  margin-bottom: 10px;
}

.job-apply {
  padding: 20px 0;
}
.job-apply .btn.rounded {
  font-size: 14px;
  padding: 12px 0;
}