#header {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #eaeaea;
}
#header .nav-logo {
  max-height: 60px;
}
#header-nav {
  /*background-color: #B80000;*/
  background-color: #890403;
  padding: 10px 0;
}
#header-nav .navbar-nav {
  flex-direction: row;
}
#header-nav .navbar-nav .nav-item .nav-link {
  padding: 0px 10px;
  font-size: 0.8em;
  color: #fff;
}
#header-body {
  padding: 25px 0;
}
#container {
  min-height: 80vh;
  margin-top: 162px;
  padding: 1.5rem 0;  
}