.header-nav {
  display: flex;
  flex-direction: row;
  background-color: #890403;
  height: 38px;
}
.header-nav .header-nav-col {
  display: flex;
  flex: 1;
}
.header-nav .header-nav-right {
  justify-content: flex-end;
}
.header-nav .navbar-nav {
  flex-direction: row;
}
.header-nav .navbar-nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}
.header-nav .navbar-nav .nav-item:hover {
  color: #eee;
  background-color: #6b0403;
}
.header-nav .navbar-nav .nav-item:not(:last-child) {
  margin-right: 8px;
}
.header-nav .navbar-nav .nav-item .nav-link {
  padding: 0px 10px;
  font-size: 0.8em;
  color: #fff;
}
.header-nav .navbar-nav .nav-item .btn {
  font-size: 0.85em;
  padding: 7px 15px;
}