.section-apply-job {
  margin-bottom: 25px;
}
.section-apply-job .btn-apply {
  margin-bottom: 10px;
}
.section-apply-job .alert-day {
  font-size: 12px;
  padding-top: 7px;
  padding-bottom:7px;
  margin-bottom: 0;
}