.search-box-panel {
  background-color: #cdcdcd !important;
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}

.result-container .result-content-inner {
  display: flex;
  flex-direction: row;
}
.result-container .result-content-inner > .sidebar {
  width: 350px;
}
.result-container .result-content-inner > .content {
  flex: 1;
  padding-left: 25px;
}
.result-container .nav-sort {
  padding-top: 20px;
  padding-bottom: 20px;
}
.result-container .nav-paginate {
  display: flex;
  justify-content: flex-end;
}
.result-container .no-result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;  
}