.search-box-panel {
  background-color: #cdcdcd !important;
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}

.result-container .result-content-inner {
  display: flex;
  flex-direction: row;
}
.result-container .result-content-inner > .sidebar {
  width: 300px;
  margin-top: 82px;
}
.result-container .result-content-inner > .content {
  flex: 1;
  padding-left: 25px;
}
.result-container .nav-filter {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}