.search-box-panel {
  background-color: #cdcdcd !important;
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}

.result-content-inner {
  display: flex;
  flex-direction: row;
}
.result-content-inner > .sidebar {
  width: 300px;
}
.result-content-inner > .content {
  flex: 1;
  padding-left: 25px;
}

.result-count {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 12px;
  margin-left: 325px;
}