.container-main {
  display: flex;
  flex-direction: row;
}
.template-content {
  min-height: 100vh;
}
.up-sidebar {
  position: fixed;
  width: 280px;
  background-color: #1c1c1c;
  color: #fff;
  min-height: 100vh;
}
.up-sidebar .up-sidebar-header {
  padding: 30px 20px;
  border-bottom: 1px solid #242b2f;
}
.up-sidebar .up-sidebar-header .position {    
  font-size: 1.4em;  
}
.up-sidebar .up-sidebar-header .name {
  font-family: PSU-Stidti-Light;
}
.up-sidebar .up-sidebar-body ul {
  list-style: none;
  padding: 0;
}
.up-sidebar .up-sidebar-body ul li .item {    
  display: flex;
  flex: 1;
  flex-direction: row;
  color: #ededed;
}
.up-sidebar .up-sidebar-body ul li .item .icon {
  width: 40px;
}
.up-sidebar .up-sidebar-body ul li .item .icon * {
  font-size: 24px;
}
.up-sidebar .up-sidebar-body ul li.active {
  background-color: #111;
}
.up-sidebar .up-sidebar-body ul li > .nav-link {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 20px 15px;
}
.up-sidebar .up-sidebar-body ul li > .nav-link:after {    
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
}
.up-sidebar .up-sidebar-body ul li > .nav-link:hover {
  cursor: pointer;
  background-color: #242b2f;
  text-decoration: none;
}
.up-sidebar .up-sidebar-body .group {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #242b2f
}
.up-info {
  display: flex;
  flex-direction: fow;
}
.up-sidebar + .template-content {
  margin-left: 300px;
  width: calc(100% - 280px);
}
.up-sidebar + .template-content>.inner-content {
  padding: 20px 30px;
  min-height: 100vh;
}
.up-sidebar + .template-content .breadcrumb {
  border-radius: 0;
}